.data {
  display: flex;
  width: 100%;
  height: 250px;
  position: relative;
}

.data::before {
  content: " ";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.895);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.data_block {
  width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.data_description img {
  position: relative;
  height: 80px;
  width: 140px;
  z-index: 2;
}

.data_description h3 {
  font-size: 1rem;
  font-weight: normal;
}
.data_description,
.data_contact {
  position: relative;
  width: 300px;
  z-index: 2;
  color: white;
}

.data_contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.data_contact h2 {
  margin-bottom: 1rem;
}
.data_contact ul {
  list-style: none;
}

.data_contact ul a {
  text-decoration: none;
  color: white;
}

.copy {
  background-color: black;
}

.copy_text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1200px;
  height: 3rem;
  margin: 0 auto;
  padding: 30px 0;
  color: white;
}
