nav {
  display: flex;

  background: whitesmoke;
  position: sticky;
  top: 0;
  z-index: 5;
}

.logo img {
  height: 120px;
  width: 200px;
}

.navList {
  margin: 1rem;
  display: flex;
  align-items: center;
  list-style: none;
}

.navList li {
  margin-right: 2rem;
  text-transform: uppercase;
}

.navList li:last-child {
  margin-right: 0;
}

.navList li a {
  display: block;
  color: var(--text-dark);
  text-decoration: none;
  font-weight: bold;
  transition: all 0.2s ease-in-out;
}

.navList li a:hover {
  color: #f5a96e;
  transform: scale(1.1);
}
