/*Estilo css global*/

@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  /*Border-box serve para os inputs não ultrapassarem a area maxima da div que eles estão*/
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

html,
body,
#root {
  background-color: #efefef;
  height: 100%;
}

#root {
  --text-dark: #545555;
  --text-light: #f5a96e;
  --bg-color: #f5a96e;
  --bg-dark: #545555;
  --font-title: font-family: 'PT Sans', sans-serif;;
}
